@font-face {
    font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto&display=swap'), ;
}
body {
    font-size: 10px;
    font-family: 'Noto Serif', serif;
    background-color: lightbrown;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(148, 126, 78);
    text-align: center;
}

h2 {
    font-size: 1.1rem;
}

p {
    font-size: 1.0rem;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
}

a {
    color: rgb(148, 126, 78);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    margin-left: 40px;
}

li {
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    grid-column: 3/4;
}

header {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    border-top: 5px solid rgb(240, 82, 35);
    border-bottom: 5px solid rgb(240, 82, 35);
    letter-spacing: 2px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.nav-item {
    width: 175px;
    height: 50px;
    border: 2px  solid rgb(240, 82, 35);
    text-align: center;
    padding-top: 10px;
    font-size: 1.3rem;
}

a:focus{
    outline:none;
}

.top-10 {
    font-size: 1.0rem;
}